<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diary</title>
    <link rel="stylesheet" href="{% static 'css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Flatpickr CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />

    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <div class="header">
      <div class="profile-btn-box">
        <button class="profile-btn">
          <a href="{% url 'diary:profile' %}"
            ><img src="{% static 'images/account_box.png' %}" alt=""
          /></a>
        </button>
      </div>
      <div class="page-header-box">
        <div class="page-header-title">Дневник</div>
        <div class="page-header-subtitle">Сегодня</div>
      </div>
      <div class="diary-btn-box">
        <button class="diary-btn">
          <a href="{% url 'diary:index' %}"
            ><img src="{% static 'images/diary.png' %}" alt=""
          /></a>
        </button>
      </div>
    </div>

    <div class="main-outer">
      <div class="main-inner">
        <div class="week-days-container">
          <!-- Форма для выбора даты -->
          <form method="post" class="date-form">
            {% csrf_token %}
            <label for="id_date" class="form-label">Выберите день:</label>
            {{ form.date }}
            <button type="submit" class="btn-submit">Показать</button>
          </form>
        </div>

        {% if products %}
        <div class="bju-calculatings-block">
          <div class="total-fats-col">
            <div class="total-fats-title">Жиры</div>
            <div class="total-fats">{{ total_bju.fats|floatformat:2 }}</div>
          </div>
          <div class="total-carbos-col">
            <div class="total-carbos-title">Углев</div>
            <div class="total-carbos">{{ total_bju.carbos|floatformat:2 }}</div>
          </div>
          <div class="total-prots-col">
            <div class="total-prots-title">Белок</div>
            <div class="total-prots">{{ total_bju.prots|floatformat:2 }}</div>
          </div>
          <div class="total-rsk-col">
            <div class="total-rsk-title">РСК</div>
            <div class="total-rsk">xx%</div>
          </div>
          <div class="goal-col">
            <div class="goal-title">Цель:</div>
          </div>
          <div class="calories-row">
            Калории: <span>{{ total_bju.calories|floatformat:0 }}</span>
          </div>
        </div>
        {% endif %}

        <div class="products-print-block">
          <div class="add-product-container">+</div>
          <!-- Отображение продуктов -->
          {% if products %} {% for entry in products %}
          <div class="day-products-container">
            <div class="product-title-row">
              <div class="product-title">{{ entry.product.name }}</div>
              <div class="product-colories">
                {{ entry.calories|floatformat:0 }}
              </div>
            </div>
            <div class="product-weight-row">
              <div class="product-weight">{{ entry.weight }}г</div>
              <div class="product-edit-btn">
                <button>
                  <img src="{% static 'images/edit_product.png' %}" alt="" />
                </button>
              </div>
            </div>
            <div class="product-bju-row">
              <div class="product-fats">{{ entry.fats|floatformat:2 }}</div>
              <div class="product-carbos">{{ entry.carbos|floatformat:2 }}</div>
              <div class="product-prots">{{ entry.prots|floatformat:2 }}</div>
              <div class="product-rsk">x%</div>
            </div>
          </div>
          {% endfor %} {% elif message %}
          <div class="empty-day-msg-block">{{ message }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      flatpickr("#datePicker", {
        dateFormat: "Y-m-d",
        altInput: true,
        altFormat: "F j, Y",
        locale: "ru",
      });
    });
  </script>
</html>
