<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diary</title>
    <link rel="stylesheet" href="{% static 'css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="profile-btn-box">
        <button class="profile-btn">
          <a href="{% url 'diary:profile' %}"
            ><img src="{% static 'images/account_box.png' %}" alt=""
          /></a>
        </button>
      </div>
      <div class="page-header-box">
        <div class="page-header-title">Дневник</div>
        <div class="page-header-subtitle">Сегодня</div>
      </div>
      <div class="diary-btn-box">
        <button class="diary-btn">
          <a href="{% url 'diary:index' %}"
            ><img src="{% static 'images/diary.png' %}" alt=""
          /></a>
        </button>
      </div>
    </div>
    Main Page

    <!-- Форма для выбора даты -->
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Показать</button>
    </form>

    <!-- Отображение продуктов -->
    {% if products %}
    <h2>Продукты на {{ form.data.date }}</h2>
    <ul>
      {% for entry in products %}
      <li>{{ entry.product.name }} - {{ entry.weight }} г</li>
      {% endfor %}
    </ul>
    {% elif message %}
    <p>{{ message }}</p>
    {% endif %}
  </body>
</html>
