<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Export Diaries</title>
    <link rel="stylesheet" href="{% static 'css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/export_selection.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <div class="profile-btn-box">
        <button class="profile-btn">
          <a href="{% url 'diary:profile' %}"
            ><img src="{% static 'images/account_box.png' %}" alt=""
          /></a>
        </button>
      </div>
      <div class="page-header-box">
        <div class="page-header-title">Экспорт</div>
        <div class="page-header-subtitle">{{ date }}</div>
      </div>
      <div class="diary-btn-box">
        <button class="diary-btn">
          <a href="{% url 'diary:index' %}"
            ><img src="{% static 'images/diary.png' %}" alt=""
          /></a>
        </button>
      </div>
    </div>

    <div class="main">
      <form
        action="{% url 'diary:export_diaries_to_file' %}"
        method="get"
        class="export-form"
      >
        <label for="date">Выберите дату:</label>
        <select name="date" id="date">
          <option value="all">Все даты</option>
          {% for diary in diaries %}
          <option value="{{ diary.date }}">
            {{ diary.date|date:"d.m.Y" }}
          </option>
          {% endfor %}
        </select>

        <div class="export-buttons">
          <button type="submit" name="format" value="xlsx" class="export-btn">
            Экспорт в XLSX
          </button>
          <button type="submit" name="format" value="csv" class="export-btn">
            Экспорт в CSV
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
