<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROFILE</title>
  </head>
  <body>
    <h2>Профиль юзера: {{ username }}</h2>
    <button><a href="{% url 'diary:logout' %}">Log out</a></button>
    <div>
      <!-- Форма для изменения веса -->
      <form method="post" action="" style="display: inline-block">
        {% csrf_token %}{{ weight_form.as_p }}
        <button type="submit" name="update_weight">Изменить</button>
      </form>

      <!-- Форма для изменения роста -->
      <form method="post" action="" style="display: inline-block">
        {% csrf_token %} {{ height_form.as_p }}
        <button type="submit" name="update_height">Изменить</button>
      </form>

      <!-- Форма для изменения цели по калориям -->
      <form method="post" action="" style="display: inline-block">
        {% csrf_token %} {{ calorie_goal_form.as_p }}
        <button type="submit" name="update_calorie_goal">Изменить</button>
      </form>
    </div>
  </body>
</html>
