body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}

.main {
  margin-top: 20px;
  width: 500px;
  height: auto;
  background-color: white;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inpt {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;

  color: #646464;
}

.main form button {
  margin-top: 10px;
  padding: 16px 75px;

  font-size: 16px;
  color: white;

  font-weight: 500;

  background-color: #499e63;

  border: none;

  border-radius: 5px;

  cursor: pointer;

  transition: all 0.1s ease;
}

.main form button:hover {
  opacity: 0.8;
}

.main form button:active {
  opacity: 0.5;
}

.products-container {
  width: 90%;

  display: flex;
  justify-content: space-between;

  text-decoration: none;
  color: inherit;

  align-items: center;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(208, 208, 208);

  padding-top: 10px;
  padding-bottom: 10px;

  transition: all 0.1s ease;
}

.products-container:hover {
  opacity: 0.7;
  background-color: #c6c6c6;
}

.products-container .first-col {
  flex: 1;
  transform: translateX(20px);

  font-size: 14px;
}

.products-container .first-col .product-name {
  margin-bottom: 4px;
  font-size: 15px;
}

.products-container .first-col .product-calories {
  color: #7e7b7b;
}

.products-container .second-col {
  width: 100px;
}

.products-container .second-col img {
  transform: translateX(30px);
}

.scrollable-products-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-height: 400px;
  overflow-y: auto;

  padding: 10px;
  margin-top: 20px;

  margin-bottom: 20px;
}

.return-to-diary {
  text-decoration: none;
  color: inherit;
  background-color: #f17e40;
  padding: 10px 40px;

  border-radius: 10px;

  color: white;
  font-weight: 500;

  transition: all 0.3s ease;
}

.return-to-diary:hover {
  opacity: 0.8;
}

.return-to-diary:active {
  opacity: 0.6;
}

.not-found-msg {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
