.main-outer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.main-inner {
  background-color: lightblue;
  width: 600px;
  height: 500px;

  display: flex;
  justify-content: center;
}

/* Контейнер для формы */
.week-days-container {
  width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

  height: 110px;
}

/* Форма */
.date-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Метка для поля даты */
.form-label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

/* Поле даты */
.date-picker {
  width: 60%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.date-picker:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Кнопка отправки */
.btn-submit {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: rgb(73, 158, 99);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
  transition: all 0.1s ease;
}

.btn-submit:hover {
  opacity: 0.6;
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.5);
}

.btn-submit:active {
  opacity: 0.4;
}

.flatpickr-calendar {
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background-color: #007bff;
  color: white;
}

.flatpickr-day:hover {
  background-color: #e0e0e0;
}
