.main-outer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.main-inner {
  width: 600px;
  min-height: 650px;
  height: auto;

  display: flex;

  flex-direction: column;
  align-items: center;
}

/* Контейнер для формы */
.week-days-container {
  width: 70%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

  height: 110px;

  margin-bottom: 20px;
}

/* Форма */
.date-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Метка для поля даты */
.form-label {
  font-size: 16px;
  color: gray;
  margin-bottom: 10px;
  color: #333;
}

/* Поле даты */
.date-picker {
  width: 60%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.date-picker:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Кнопка отправки */
.btn-submit {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: rgb(73, 158, 99);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
  transition: all 0.1s ease;
}

.btn-submit:hover {
  opacity: 0.6;
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.5);
}

.btn-submit:active {
  opacity: 0.4;
}

.flatpickr-calendar {
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background-color: #007bff;
  color: white;
}

.flatpickr-day:hover {
  background-color: #e0e0e0;
}

.products-print-block {
  width: 100%;
  background-color: white;
  max-height: 600px;
  overflow-y: auto;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;

  align-items: center;
  padding-top: 10px;

  padding-bottom: 30px;
}

.add-product-container {
  width: 80%;
  height: 30px;
  text-align: end;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(208, 208, 208);

  padding-right: 15px;
}

.empty-day-msg-block {
  width: 80%;
  height: 70px;

  text-align: center;
  margin-top: 20px;

  padding-top: 20px;
}

.day-products-container {
  width: 73%;
  height: 70px;

  padding-top: 10px;

  padding-left: 65px;
  padding-right: 40px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(208, 208, 208);

  cursor: pointer;

  text-decoration: none;
  color: inherit;
}

.day-products-container:hover {
  opacity: 0.6;
  background-color: rgb(241, 241, 241);
}

.day-products-container:hover .product-edit-btn button {
  background-color: rgb(241, 241, 241);
}

.product-title-row {
  display: flex;
}

.product-title {
  width: 90%;

  font-size: 16px;
  font-weight: 500;
}

.product-colories {
  width: 10%;

  font-size: 16px;
  color: gray;
  font-weight: 500;
}

.product-weight-row {
  display: flex;
  margin-top: 5px;
  margin-left: 6px;
}

.product-weight {
  width: 90%;

  font-size: 13px;
  color: rgb(73, 158, 99);
}

.product-edit-btn {
  width: 10%;
  text-align: end;

  transform: translateX(20px);
}

.product-edit-btn button {
  background-color: white;
  border: none;
  padding: 0;
}

.product-bju-row {
  display: flex;
  width: 60%;

  margin-left: 2px;

  justify-content: space-between;

  transform: translateY(-7px);
}

.product-bju-row .product-fats {
  transform: translateX(5px);
}

.product-bju-row .product-rsk {
  transform: translateX(-12px);
}

.product-bju-row .product-prots {
  transform: translateX(-8px);
}

.product-bju-row div {
  font-size: 13px;
  color: gray;
}

.bju-calculatings-block {
  width: 75%;
  height: 40px;

  padding-left: 38px;

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(208, 208, 208);

  display: flex;
  justify-content: space-between;
  padding-top: 7px;
}

.total-carbos-col,
.total-prots-col,
.total-rsk-col,
.goal-col,
.total-fats-col {
  display: flex;
  flex-direction: column;
}

.total-carbos-title,
.total-fats-title,
.total-prots-title,
.total-rsk-title,
.goal-title {
  font-size: 14px;
  color: gray;
  margin-bottom: 2px;
}

.total-carbos,
.total-prots,
.total-fats,
.total-rsk,
.goal-value {
  font-size: 12px;
  color: rgb(62, 62, 62);
  text-align: center;
}

.calories-row {
  font-size: 14px;
  color: rgb(73, 73, 73);
  font-weight: 500;

  align-content: center;
}

.calories-row span {
  font-weight: bold;
}

.add-product-container img {
  transform: translateX(20px);

  transition: all 0.1s ease;
}

.add-product-container {
  padding-bottom: 7px;
}

.add-product-container img:hover {
  background-color: #efefef;
}

.add-product-container img:active {
  opacity: 0.5;
}
